.review {
    margin-top: 2rem;
}

.artist-name {
    text-align: left;
    margin-left: 2rem;
    position: absolute;
    font: normal normal bold 25px Helvetica;
    letter-spacing: 3.5px;
    color: #FFFFFF;
    opacity: 1;
}

.artist-txt {
    text-align: left;
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 25px;
    font: Helvetica;
    letter-spacing: 3.5px;
    color: #191919;
    opacity: 1;
}